body {
    display: flex;
    flex-direction: column;
    margin: 0%;
    background: #12181F;
    color: #8E929E;

}

.perfil {
    border-radius: 1%;
    background-Color: #232F3E;
    padding: 4%;
}




h1 {
    font-Weight: bold;
    color: whitesmoke;
    font-family: 'Poltawski Nowy', serif;
}

h5 {
    font-Weight: bold;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    
}

.infoabout {
    margin: 3% 0% 3% 0%;
    padding: 0% 3% 0% 4%;
}

.first {
    margin-top: 5%;
    padding-top: 3em;
}

.about {
    margin: 0% 0% 5% 0%;
    padding-top: 3em;
}

.portafolio {
    margin-bottom: 1%;
    padding: 3em 0em 2em 0em;
    background: #060B10;
}

.educacion {
    padding-top: 3em;
}

.idiomas {
    padding-top: 3em;
}

.habilidades {
    margin: 3% 0% 0% 0%;
    padding: 3em 0em 3em 0em;
    background: #060B10;
}

.skill {

    background: #232F3E;
    border-radius: 2em;
    padding: 1%;
}

.contacto {
    padding: 3em 0em 2em 0em;
}

.card-img-top {
    margin-bottom: 1%;
    border-radius: 1em;
}

.imagen {
    width: 5em;
    margin: 1%;
    transition: transform 0.3s;
}

.imagen:hover {
    transform: scale(1.2) rotate(15deg);
    z-index: 2;

}

.jimenez {
    height: 12em;
    width: 23em;
    margin: 1%;
    border-radius: 1em;
}

.card {
    margin-top: 1%;
    padding: 1%;

}

.card-title {
    font-Weight: bold;
    color: rgba(255, 255, 255, 0.664);
}

.btn {
    margin-top: 1%;
}

.rosa {
    background: #d4008e;
    transition: background-color 0.3s ease;
}

.rosa:hover {
    background: rgb(157, 1, 105)
}

.btnred {
    background: #EF0708;
    transition: background-color 0.3s ease;
}

.btnred:hover {
    background: #8e0202;
}

.info-color:hover {
    background-color: #22b6d3d2;
}

.descargar-color:hover {
    background-color: #f9c427ba;
}

.imgperfil {
    width: 10em;
    border-radius: 100%;
    border: 1px solid #060B10;
}





.imagen-portafolio {
    transition: transform 0.3s;

}

.imagen-portafolio:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    transform: translateY(-2.5em) scale(1.1);
    z-index: 2;

}

.logo-face {
    color: #1877F2;
    transition: color 0.4s, transform 0.4s;
}

.logo-linkedin {
    color: #0A66C2;
    transition: color 0.4s, transform 0.4s;
}

.logo-github {
    color: #7E2E93;
    transition: color 0.4s, transform 0.4s;
}

.logo-info {
    margin-right: 0.5em;
    font-size: 30px;
    transition: color 0.4s, transform 0.4s;
}

@keyframes colorChange {
    0% {
        color: black
    }

    50% {
        color: black;
    }

    100% {
        color: black;
    }
}

@keyframes shadowPulse {
    0% {
        text-shadow: 0 0 5px #f8f8f8d7;
    }

    50% {
        text-shadow: 0 0 15px #fcfbf9d7;
    }

    100% {
        text-shadow: 0 0 5px #ffffffd7;
    }
}

.logo-info:hover {
    animation: colorChange 1.5s infinite alternate, shadowPulse 1s infinite;
}




@keyframes typing {
    0% {
        width: 0;
    }

    50% {
        width: 19ch;
    }

    100% {
        width: 19ch;
    }
}

.title-animacion {
    white-space: nowrap;
    width: 19ch;
    border-right: 4px solid;
    animation: typing 6s infinite steps(19);
    animation-direction: alternate;
    overflow: hidden;
    word-wrap: break-word;
}


@media screen and (max-width: 768px) {
    .principal {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .cvv {
        margin-top: 10%;
    }
}

@media screen and (max-width: 300px) {
    .cvv {
        margin-top: 20%;
    }
}

@media screen and (max-width: 250px) {
    .cvv {
        margin-top: 30%;
    }

}




.card-portafolio {
    background-color: #12181f;
    border: 1px solid;
    width: 19.4rem;
    height: 31rem;
    padding: 0%;
    margin-right: 1%;
    margin-top: 2%;
}

@media screen and (max-width: 488px) {
    .card-portafolio {
        background-color: #12181f;
        border: 1px solid;
        width: 19.4rem;
        height: 31rem;
        padding: 0%;
        margin-right: 1%;
        margin-top: 4%;
    }
}

@media screen and (max-width: 250px) {
    .card-portafolio {
        background-color: #12181f;
        border: 1px solid;
        width: 19.4rem;
        height: 31rem;
        padding: 0%;
        margin-right: 1%;
        margin-top: 10%;
    }
}


.card-giratoria {
    position: relative;
    width: 100%;
    height: 100%;
   

}

.card-giratoria .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card-giratoria .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card-giratoria .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card-giratoria .front h3 {
    position: absolute;
    bottom: 1;
    width: 100%;
    height: 3rem;
    line-height: 45px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.61);
    text-align: center;
    word-wrap: break-word;
    font-size: 1rem;
    
    
}

.card-giratoria .back {
    transform: perspective(600px) rotateY(180deg);
    background-color:#232F3E;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.card-app {
    background-color: #21212130;
    margin-top: 2%;
    text-align: center;

}


.card-giratoria:hover .front {
    transform: perspective(600px) rotateY(180deg);
}


.card-giratoria:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

